body{
font-family:sans-serif;
}

.header{
    background-color: #00b894;
    padding:5px 50% 5px 20%;
    color:white;
    font-size:20px;
}

.footer{
    text-align: center;
    background-color: #dfe6e9;
    padding: 15px 15px;
    bottom: 10px;
    color:#ffffff;
    font-size: 20px;
}