body{
font-family:sans-serif;
}

.header{
    background-color: #00b894;
    padding:5px 50% 5px 20%;
    color:white;
    font-size:20px;
}
.Comment{
    width:20%;
    display: block;
    border:1px solid grey;
    padding:10px;
    margin:auto;
    margin-top:60px;
    border-radius: 15px;
}
input{
    width:90%;
    height:30px;
    padding:5px;
    border:none;
    
}
button{
    border-radius: 50%;
    background:#00b894;
}

.footer{
    text-align: center;
    background-color: #dfe6e9;
    padding: 15px 15px;
    bottom: 10px;
    color:#ffffff;
    font-size: 20px;
}