* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
body{
font-family:sans-serif;
background: #eee;
}

.header{
    background-color: #00b894;
    color:white;
    margin:auto;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
h1{
    color: #fff;
    font-weight: 200;
    font-family: "McLaren", cursive;
}
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size:22px;
    height: 2.5rem;
    color:#ccc;
  }
  .note{
    margin-left: 5%;
    box-shadow: 0 4px 8px #ccc;
    border-radius: 7px;
    padding:10px;
    width:240px;
    margin-top:20px;
    float: left;
    font-size: 1.2em;
    word-wrap: break-word;
}
.note P{
    margin: 6px 0 10px 0;
}
.note button{
    border-radius: 7%;
    background:#00b894;
    padding:5px;
    border:none;
    float:right;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
form{
    position: relative;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    width:480px;
    display: block;
    padding:10px;
    margin:30px auto 20px auto;
    margin-top:60px;
    border-radius: 8px;
}
form input,
form textarea{
    width:100%;
    border:none;
    padding:5px;
    outline: none;
    font-size: 1.3em;
    font-family: inherit;
    resize: none;
}
form button{
    position: absolute;
    background:#00b894;
    border-radius: 25px;
    padding: 11px 7px;
    right: 22px;
    top: 122px;
    border:none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
}